/Achievements.AndroidPlatform/Achievements.AndroidPlatform/obj
/Achievements.AndroidPlatform/Achievements.AndroidPlatform/bin
/itsbeta.achievements/itsbeta.achievements/bin
/itsbeta.achievements/itsbeta.achievements/obj
/libs/itsbeta/itsbeta/bin
/libs/itsbeta/itsbeta/obj
/libs/Mono.Facebook/bin
/libs/Mono.Facebook/obj
/libs/QR Reader/ZXing.Net/obj
/libs/QR Reader/ZXing.Net.Mobile/obj