/Achievements.AndroidPlatform/Achievements.AndroidPlatform/obj
/Achievements.AndroidPlatform/Achievements.AndroidPlatform/bin
/com.achievements.android_v2/com.achievements.android_v2/bin
/com.achievements.android_v2/com.achievements.android_v2/obj
/libs/itsbeta/itsbeta/bin
/libs/itsbeta/itsbeta/obj
/libs/Mono.Facebook/bin
/libs/Mono.Facebook/obj